body {
  margin: 0;
}
.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  text-align: center;
  color: blueviolet;
}

footer {
  background-color: #969696;
}
